<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contact API : Update Contact</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
		<div
			class="middle-box text-center loginscreen animated fadeInDown col-sm-5 col-sm-offset-3">
			<br /> <br /> <br />
			<hr />

			<h4 align="center">Update Service Request</h4>
			<form action="#" th:action="@{/request/updateReq}"
				th:object="${serviceRequest}" method="post" class="form-horizontal"
				data-toggle="validator">

				<div th:if="${message}" class="alert alert-success" role="alert"
					th:text=${message}></div>

				<input type="hidden" name="id" th:value="${serviceRequest.id}" /> <input
					type="hidden" name="raisedBy" th:value="${serviceRequest.raisedBy}" />

				<input type="hidden" name="userCommentList"
					th:value="${serviceRequest.userCommentList }" /> <input
					type="hidden" name="maintenanceCommentList"
					th:value="${serviceRequest.maintenanceCommentList}" /> <input
					type="hidden" name="raisedDate"
					th:value="${serviceRequest.raisedDate}" /> <input type="hidden"
					name="resolvedDate" th:value="${#dates.createNow()}" />

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-pencil"></span>
					</span> <input
						th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{title}"
						placeholder="Title of your Service Request" class="form-control"
						required /> <input
						th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{title}"
						placeholder="Title of your Service Request" class="form-control"
						required readonly="readonly" /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
					class="validation-message alert alert-danger" role="alert"></div>

				<div
					th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span>
						<textarea rows="5" th:field="*{description}"
							placeholder="Description" class="form-control"
							readonly="readonly"></textarea>
						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"
						class="validation-message alert alert-danger" role="alert"></div>

				</div>

				<div
					th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span>
						<textarea rows="5" th:field="*{description}"
							placeholder="Description" class="form-control"
							required="required"></textarea>
						<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<div th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"
						class="validation-message alert alert-danger" role="alert"></div>

				</div>

				<!-- <div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span>User Comment</span>
					</span><span th:each="comment : ${serviceRequest.userCommentList}">
						<div th:text="${comment}" class="form-control"></div>
					</span><span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div> -->

				<div
					th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span> <input type="text" th:field="*{userComment}"
							placeholder="User comment" class="form-control" /> <span
							class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<!-- <div th:if="${#fields.hasErrors('userComment')}"
						th:errors="*{userComment}"
						class="validation-message alert alert-danger" role="alert"></div> -->

				</div>

				<div
					th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span> <input type="text" th:field="*{userComment}"
							placeholder="User comment" class="form-control"
							readonly="readonly" /> <span
							class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<!-- <div th:if="${#fields.hasErrors('userComment')}"
						th:errors="*{userComment}"
						class="validation-message alert alert-danger" role="alert"></div> -->

				</div>



				<!-- <div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span>Maintenance</span>
					</span><span th:each="comment : ${serviceRequest.maintenanceCommentList}">
						<span th:text="${comment}" class="form-control"></span>
					</span><span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div> -->

				<div
					th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span><input type="text" th:field="*{maintenanceComment}"
							placeholder="Maintenance Comment" class="form-control"
							required="required" /> <span
							class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<div th:if="${#fields.hasErrors('maintenanceComment')}"
						th:errors="*{maintenanceComment}"
						class="validation-message alert alert-danger" role="alert"></div>
				</div>
				<div
					th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}">
					<div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
							class="glyphicon glyphicon-pencil"></span>
						</span> <input type="text" th:field="*{maintenanceComment}"
							placeholder="Maintenance Comment" class="form-control"
							readonly="readonly" /> <span
							class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<div th:if="${#fields.hasErrors('maintenanceComment')}"
						th:errors="*{maintenanceComment}"
						class="validation-message alert alert-danger" role="alert"></div>

				</div>

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-home"></span>
					</span> <input
						th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{tower}" placeholder="Tower Number"
						class="form-control" required readonly="readonly" /> <input
						th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{tower}" placeholder="Tower Number"
						class="form-control" required /><span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('tower')}" th:errors="*{tower}"
					class="validation-message alert alert-danger" role="alert"></div>

				<div class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-home"></span>
					</span> <input
						th:if="${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{flatNo}" placeholder="Flat Number"
						class="form-control" required readonly="readonly" /> <input
						th:if="!${#authorization.expression('hasRole(''ROLE_MAINTENANCE'')')}"
						type="text" th:field="*{flatNo}" placeholder="Flat Number"
						class="form-control" required /><span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('flatNo')}" th:errors="*{flatNo}"
					class="validation-message alert alert-danger" role="alert"></div>


				<div
					th:if="${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}"
					class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <select selected="*{assignedTo}" th:field="*{assignedTo}"
						class="form-control" required>

						<option th:each="main : ${maintenanceTeam}" th:value="${main.id}"
							th:text="${main.firstName}+ ' ' + ${main.lastName}"></option>
					</select> <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div
					th:if="!${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}">
					<input type="hidden" name="assignedTo"
						th:value="${serviceRequest.assignedTo}" />
				</div>

				<div
					th:if="${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}"
					class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <select selected="*{assignedStaff}" th:field="*{assignedStaff}"
						class="form-control" required>

						<option th:each="staff : ${staffTeam}" th:value="${staff.id}"
							th:text="${staff.firstName}+ ' ' + ${staff.lastName} +' ['+ ${staff.staffType} +'] '"></option>
					</select> <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div
					th:if="!${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}">
					<input type="hidden" name="assignedStaff"
						th:value="${serviceRequest.assignedStaff}" />
				</div>



				<div
					th:if="${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}"
					class="form-group input-group has-feedback">
					<span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span> <span>Target
							Date </span> </span> <input type="date" th:field="*{targetDate}"
						th:value="${targetDate}" class="form-control" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div th:if="${#fields.hasErrors('targetDate')}"
					th:errors="*{targetDate}"
					class="validation-message alert alert-danger" role="alert"></div>
				<div
					th:if="!${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}">
					<input type="hidden" name="targetDatea"
						th:value="${serviceRequest.targetDate}" />
				</div>


				<div
					th:if="${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}"
					class="form-group input-group has-feedback">
					<span class="input-group-addon"> <span
						class="glyphicon glyphicon-user"></span>
					</span> <select selected="*{currentStatus}" th:field="*{currentStatus}"
						class="form-control">

						<option th:each="currentStatus : ${statusList}"
							th:value="${currentStatus}" th:text="${currentStatus}"></option>
					</select> <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>
				<div
					th:if="!${(#authorization.expression('hasRole(''ROLE_ADMIN'')')) or  (#authorization.expression('hasRole(''ROLE_MAINTENANCE'')'))}">
					<input type="hidden" name="currentStatus"
						th:value="${serviceRequest.currentStatus}" />
				</div>
				<button type="submit" class="btn btn-primary block full-width m-b">Update</button>
			</form>


			<br /> <br />
			<div th:replace="fragments/footer :: footer">&copy; 2020
				Contact API</div>
		</div>

	</div>
	<!-- Bootstrap Validator plugin -->
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

</body>
</html>